@font-face {
    font-family: "IDroid";
    src: url("/Font/idroid/IDroid\ Bold.otf") format("opentype");
}

@font-face {
    font-family: "Bebas Neue";
    src: url("/Font/Bebas_Neue/BebasNeue-Regular.ttf") format("truetype");
}

* {
    --cor0: #ebe5c5;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;
}

body {
    background-color: var(--cor0);
    margin: 0;
    box-sizing: border-box;
}

header {
    background-image: linear-gradient(to bottom, #2fa866, #1e7f4f, #0b3d2e);
    color: white;
    padding: 25px;
    text-align: center;

    & h1 {
        text-shadow: 2px 2px 5px black;
        font-family: "Bebas Neue";
        font-size: 3em;
        font-weight: normal;
        margin-bottom: 20px;
        margin-top: 10px;
    }

    & p {
        text-shadow: 2px 2px 5px black;
        font-family: Arial, Helvetica, sans-serif;
        max-width: 500px;
        padding-left: 10px;
        padding-right: 10px;
        margin: auto;
        font-size: 1.2em;
    }
}
nav {
    display: flex;
    background-color: var(--cor5);

    & a {
        color: rgb(255, 255, 255);
        text-decoration: none;
        margin-left: 7px;
        font-weight: bold;
        padding: 10px;
        font-family: Arial, Helvetica, sans-serif;
    }

    & a:hover {
        background-color: #139440;
        border-radius: 12px;
        transition: 0.5s ease-in-out;
    }
}

main {
    background-color: white;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;

    border-radius: 0px 0px 16px 16px;

    article {

        .container {
            padding: 20px;

            & h1 {
                font-family: "IDroid";
                color: #0b3d2e;
                text-align: start;
                text-indent: 15px;
                font-size: 1.8em;
                font-weight: normal;
                margin: auto;
            }

            & p {
                text-indent: 30px;
                font-family: Arial, Helvetica, sans-serif;
                margin: 15px 0px;
                text-align: justify;
                line-height: 1.5em;
            }

            & strong {
                color: var(--cor4);
            }

            & h2 {
                font-family: "IDroid";
                font-size: 1.3em;
                color: var(--cor4);
                background-image: linear-gradient(
                    to right,
                    var(--cor1),
                    #00000000
                );
                text-indent: 15px;
                font-weight: normal;
            }

            & div a {
                text-decoration: none;
                font-weight: bold;
                color: var(--cor5);
                background-color: var(--cor1);
                padding: 2px;
            }

            & img {
                width: 100%;
            }

            & a {
                text-decoration: underline;
                text-decoration: none;
                background-color: var(--cor1);
                color: var(--cor5);
                font-weight: bold;
                padding: 2px;
            }

            iframe {
                width: 100%;
            }

            #video {
                background-color: var(--cor5);
                margin: 0px -20px 30px -20px;
                padding: 20px;
                position: relative;
            }
        }

        aside {
            background-color: var(--cor1);

            margin: 10px;
            border-radius: 11px 11px 0px 0px;
        }

        aside #container-h3 {
            background-color: var(--cor4);
            color: white;
            border-radius: 10px 10px 0px 0px;
        }

        #container-h3 {
            font-size: 0.9em;
            font-weight: normal;
            font-family: 'Bebas Neue';
            text-indent: 15px;
        }

        aside > ol {
            list-style-type: "\2714\00A0\00A0";
            list-style-position: inside;
            columns: 2;
            padding: 20px;
        }

        strong {
            color: var(--cor4);
        }

        a {
            color: var(--cor5); 
            text-decoration: none;
            font-weight: bold;
        }
    }
}

footer {
    background-color: var(--cor5);
    color: white;
    text-align: center;
    font-size: o.8em;
    padding-bottom: 1px;
    margin-top: 1px;

    p {
        margin-bottom: 5px;
        margin-left: 10px;
    }

    a {
        text-decoration: none;
        color: white;
        position: relative;
        display: inline-block;
    }

    a:visited {
        color: white;
    }

    a:active {
        color: rgb(39, 175, 37);
    }

    a::after {
        content: "";
        position: absolute;
        left: 50%;
        bottom: -3px;
        width: 0%;
        transform: translateX(-50%);
        height: 2px;
        background: white;
        transition: width 0.6s;
    }

    a:hover::after {
        width: 100%;
    }
}

@media (max-width: 375px) {
    main {
        min-width: 200px;
        max-width: 1000px;
    }

    nav > a {
        padding: 5px;
        font-size: 12px;
    }

    aside {
        padding: 0px;
    }

    aside > #container-h3 {
        position: relative;
        display: flex;
        width: 100%;
        background-color: var(--cor4);
        box-shadow: 1px 7px 8px rgba(52, 52, 52, 0.489);

    }
    aside > .container-p {
        text-indent: 15px;
        text-align: justify;
        margin: 8px;
    }
}
