@font-face {
    font-family: "IDroid";
    src: url("Font/IDroid.otf") format("opentype");
}

@font-face {
    font-family: "Bebas Neue";
    src: url("Font/Bebas_Neue/BebasNeue-Regular.ttf") format("truetype");
}

* {
    --cor0: #ebe5c5;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;
}

body {
    background-color: var(--cor0);
    margin: 0;
    box-sizing: border-box;
}

header {
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    color: white;
    padding: 25px;
    text-align: center;

    & h1 {
        text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.303);
        font-family: "Bebas Neue";
        font-size: 3em;
        font-weight: normal;
        margin-bottom: 20px;
        margin-top: 10px;
    }

    & p {
        text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.303);
        font-family: Arial, Helvetica, sans-serif;
        max-width: 500px;
        padding-left: 10px;
        padding-right: 10px;
        margin: auto;
        font-size: 1.2em;
    }
}
nav {
    display: flex;
    background-color: var(--cor5);
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.363);

    & a {
        color: white;
        text-decoration: none;
        margin-left: 7px;
        font-weight: bold;
        padding: 10px;
        font-family: Arial, Helvetica, sans-serif;
    }
}

main {
    background-color: white;
    min-width: 300px;
    max-width: 1024px;
    margin: auto;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.396);

    article {
        & h1 {
            font-family: "IDroid";
            color: #0b3d2e;
            text-align: start;
            font-size: 1.8em;
            font-weight: normal;
            margin: auto;
            padding: 20px;
        }

        .container {
            padding: 0px 20px 20px;

            & p {
                text-indent: 30px;
                font-family: Arial, Helvetica, sans-serif;
                margin: 15px 0px;
                text-align: justify;
                line-height: 1.5em;
                font-size: 1em;
            }

            & strong {
                color: var(--cor4);
            }

            & a {
                text-decoration: none;
                background-color: var(--cor1);
                color: var(--cor5);
                font-weight: bold;
                padding: 2px 5px;
            }

            a:hover {
                text-decoration: underline;
                color: var(--cor4);
            }

            & h2 {
                font-family: "IDroid";
                font-size: 1.3em;
                color: var(--cor4);
                background-image: linear-gradient(
                    to right,
                    var(--cor1),
                    transparent
                );
                text-indent: 8px;
                font-weight: normal;
            }

            & img {
                width: 100%;
            }

            & #bugdroid {
                max-width: 350px;
                display: block;
                margin: auto;
            }

            & iframe {
                width: 100%;
                border-radius: 9px;
            }

            & #video {
                background-color: var(--cor5);
                margin: 0px -20px -14px -20px;
                padding: 10px;
                position: relative;
            }
        }

        aside {
            background-color: var(--cor1);
            padding-bottom: 9px;
            margin: 10px;
            border-radius: 11px;
            box-shadow: 3px 3px 8px #0000004e;
        }

        aside #container-h3 {
            background-color: var(--cor4);
            color: white;
            border-radius: 10px 10px 0px 0px;
        }

        #container-h3 {
            font-weight: bold;
            font-family: Arial, Helvetica, sans-serif;
            text-indent: 15px;
            box-shadow: 1px 7px 8px rgba(52, 52, 52, 0.489);
            padding: 0.8px;
        }

        aside > ol {
            list-style-type: "\2714\00A0\00A0";
            list-style-position: inside;
            columns: 2;
            padding: 20px;
        }

        .container-p {
            text-indent: 15px;
            text-align: justify;
            margin: 8px;
        }

        #P-baixo-do-aside {
            padding: 10px 20px;
            margin: 0px;
        }

        strong {
            color: var(--cor4);
        }

        a {
            text-decoration: none;
            color: var(--cor5);
            font-weight: bold;
            padding: 2px 5px;
        }

        a:hover {
            text-decoration: underline;
            color: var(--cor4);
        }

        P {
            margin: 8px 0px 10px 0px;
        }
    }
}

footer {
    background-color: var(--cor5);
    color: white;
    text-align: center;
    font-size: o.8em;
    padding-bottom: 1px;
    margin-top: 1px;

    p {
        margin-bottom: 5px;
        margin-left: 10px;
    }

    a {
        text-decoration: none;
        color: white;
        position: relative;
        display: inline-block;
    }
}

@media (max-width: 320px) and (max-width: 768px) {
    article > h1 {
        padding: 16px 0px 0px 12px;
    }

    nav {
        & a {
            padding: 5px;
            font-size: 12px;
        }
    }

    aside {
        padding: 0px;
    }

    aside > #container-h3 {
        position: relative;
        display: flex;
        width: 100%;
        background-color: var(--cor4);
        box-shadow: 1px 7px 8px rgba(52, 52, 52, 0.489);
    }
    aside > .container-p {
        text-indent: 15px;
        text-align: justify;
        margin: 8px;
    }

    #P-baixo-do-aside {
        padding: 10px 20px;
        margin: 0px;
    }
}

@media (min-width: 770px) and (max-width: 2560px) {
    nav a:hover {
        background-color: #139440;
        border-radius: 12px;
        transition: 0.5s ease-in-out;
    }

    article > h1 {
        padding: 18px 0px 0px 20px;
    }

    aside {
        padding: 0px;
    }

    aside > #container-h3 {
        position: relative;
        display: flex;
        width: 100%;
        background-color: var(--cor4);
        box-shadow: 1px 7px 8px rgba(52, 52, 52, 0.489);
    }
    aside > .container-p {
        text-indent: 15px;
        text-align: justify;
        margin: 15px;
    }

    #P-baixo-do-aside {
        padding: 10px 20px;
        margin: 0px 3px 3px 3px;
        text-align: justify;
        font-family: Arial, Helvetica, sans-serif;
    }
    footer {
        a::after {
            content: "";
            position: absolute;
            left: 50%;
            bottom: -3px;
            width: 0%;
            transform: translateX(-50%);
            height: 2px;
            background: white;
            transition: width 0.6s;
        }

        a:hover::after {
            width: 100%;
        }
    }
}
